body, html {
    display: flex;
    width: 99%;
    margin:0;
    padding: 0;
}
body { /*Fondo para la derecha*/
    display: flex;
    width: 100%;
    background-image: url("../imagenes/fondo_estrella_montaña.png");
    height: auto;
    font-family: "ComicBoys.woff";
}
.contenedor { /*Derecha de la página*/
    width: 100%;
    height: 100%;
}
.icono img{ /*Casa*/
    height: 85px;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 75px;
}

.menuLateral {  /*Estilos del menu con botones en columna a la izquierda*/
    width: 25%;
    height: 100%;
    margin-left: 29px;
    margin-top: 50px;
    position: fixed;
    align-items: center;
    
}
#containerBotones { /*Estilos de los botones como id*/
    flex-direction:column;
    height: max-content;
    align-items: center;
    display: flex;
    width: 100%;

    
}
.menuLateral button { /* Estilos de los botones del menú lateral*/
    width: 250px;
    height: 100px;
    margin-top: 60px;
    background: linear-gradient(#7704E9, #9C5AC2);
    color: white;
    font-size: 29px;
    border-radius: 9px;
    cursor: pointer;
    font-family: "SpicyRice-Regular.woff";
    letter-spacing: 0.25em;
}
.zodiaco {
    margin-top: 80px;
}
.zodiaco h1{  /*estilos  título*/
    color: white; 
    font-size: 72px; 
    text-align: center;  
    align-items: center;
    margin-left: 300px;
    justify-content: center;
    position: relative;
    padding-left: 75px;
    letter-spacing: 0.25em;
 }

.texto{ /*estilos a la caja de descripción*/
    width: 50%; 
    border: 1px solid purple; 
    position: relative;
    left: 38%; 
    background: linear-gradient(#8E76AB, #5A4472); /*Fondo en degrade*/
    color: white; 
    opacity: 0.8;
    height: 320px;
    font-size: 50px;
    padding: 35px;
    border-radius: 17px;
    text-align: center;
    
}
@font-face { /* carpeta de fuentes para el tipo de letra*/
    font-family: "ComicBoys.woff";
    src: url(../fuentes/ComicBoys.woff);
}
@font-face { /* carpeta de fuentes para el tipo de letra*/
    font-family: "SpicyRice-Regular.woff";
    src: url(../fuentes/SpicyRice-Regular.woff);
}
/*Breakpoints*/
@media screen and (min-width:600px) and (max-width: 800px){
    .menuLateral{
        width: 25%;
    }
    .menuLateral button  { /*Botones laterales*/
        font-size: 15px;
        width: 160px;
        margin-left: 15px;
    
    }
    .icono img{  /*Casa*/
    margin-left:33%;
    margin-top: 55px;
    }
    .zodiaco h1{ /*Titulo*/
        font-size: 55px;
        margin-left: 24%;
    }
    .texto { /*Es la caja que contiene el texto de los signos*/
        width: 40%;
        font-size: 200%;
        justify-content: center;
        margin-left: 2%;

    }
    
}